<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Finalproject.MavFinal.B"/>
      <class name="Finalproject.MavFinal.A"/>
      <class name="Excelsheet.dataExcel"/>
      <class name="Excelsheet.Excel"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
